{% extends 'core/base.html' %}

{% block title %}Edit profile| {% endblock %}

{% block content %}

<nav class="breadcrumb" aira-label="breadcrumbs">
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="{% url 'myaccount' %}">My account</a></li>
    <li class="active"><a href="{% url 'edit_profile' %}" aria-current="page">Edit profile</a></li>
  </ul>
</nav>

<div class="columns">
  <div class="column is-4">
    <h1 class="title">Accept Invitation</h1>
    <form method="post" action=".">
      {% csrf_token %}
      <div class="field">
        <label for="id_code">Code (from e-mail)</label>

        <div class="control">
          <input type="text" name="code" id="id_code" class="input">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-success">Accept</button>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %}
