<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Time Tracker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
  <div id="navbar-app">
      <nav class="navbar {% if request.user.is_authenticated %} is-dark{% else %} is-light {% endif %}">
      <div class="navbar-brand">
        <a href="/" class="navbar-item"><strong>FKS</strong> Time Tracker</a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'plans' %}" class="navbar-item">Plans</a>
            {% else %}
            <a href="{% url 'dashboard' %}" class="navbar-item">
              <span class="icon"><i class="fa-solid fa-chart-pie"></i></span>
              <span>Dashboard</span>
            </a>
            <a href="{% url 'project:projects' %}" class="navbar-item">
              <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              <span>Projects</span></a> 
            {% endif %}

          <div class="navbar-item">
            <div class="buttons">
                {% if request.user.is_authenticated %}
                <a href="{% url 'myaccount' %}" class="button is-success">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span>
                  {% firstof request.user.get_full_name request.user.username %} {% if active_team %} ({{active_team.title}}) {% endif %}</a>
                </span>
                {% else %}
                  <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                  <a href="{% url 'login' %}" class="button">Log in</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

    </nav>
  </div>

  <section class="section">
    {% if messages %}
      {% for message in messages %}
        <div class="notification is-info">{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </section>

  <footer class="footer">
    <div class="columns is-multiline">
      <div class="column is-4">
        <h2 class="subtitle">FKS Time Tracker</h2>
      </div>

      <div class="column is-offset-6 is-2">
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="{% url 'privacy' %}">Privacy policy</a></li>
            <li><a href="{% url 'terms' %}">Terms of service</a></li>
        </ul>
      </div>
      <div class="column is-12 has-text-centered">
          <p>Copyright (c) {% now 'Y' %}</p>
      </div>
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
